<ion-content no-bounce no-padding>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
        <img src="assets/imgs/logo.png" alt="Logo" class="logo" />
      </div>
      <!-- <button ion-button block (click)="uploadPromotion()" color="secondary">Subir Promoción</button>-->
      <div class="mdc-layout-grid__cell">
        <ion-item class="mdc-text-field">
          <ion-label for="email" class="mdc-floating-label" floating>Email</ion-label>
          <ion-input id="email" class="mdc-text-field__input" type="email" [(ngModel)]="account.email"> </ion-input>
        </ion-item>
      </div>
      <div class="mdc-layout-grid__cell">
        <ion-item class="mdc-text-field">
          <ion-label for="password" class="mdc-floating-label" floating>Contraseña</ion-label>
          <ion-input id="password" class="mdc-text-field__input" type="password" [(ngModel)]="account.password"> </ion-input>
        </ion-item>
      </div>

      <!-- <div class="mdc-layout-grid"> -->
      <!-- <div class="mdc-layout-grid__inner"> -->
      <!-- <ion-row align-items-center class="fila">
            <ion-col col-2></ion-col> -->
      <div class="mdc-layout-grid__cell mdc-layout-grid--align-right
        mdc-layout-grid__cell--span-6-desktop
        mdc-layout-grid__cell--span-4-tablet
        mdc-layout-grid__cell--span-2-phone">
        <!-- <ion-col col-4> -->
        <button ion-button full class="mdc-button mdc-ripple-surface" (click)="NavigateToPageRegister()" color="secondary">Registrarse</button>
        <!-- </ion-col> -->
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid--align-left
        mdc-layout-grid__cell--span-6-desktop
        mdc-layout-grid__cell--span-4-tablet
        mdc-layout-grid__cell--span-2-phone">
        <!-- <ion-col col-4> -->
        <button ion-button full class="mdc-button" (click)="login()">Entrar</button>
        <!-- </ion-col> -->
      </div>

      <!-- <ion-col col-2></ion-col>
          </ion-row> -->
      <!-- <ion-row align-items-center class="fila">
            <ion-col col-2></ion-col> -->
      <div class="mdc-layout-grid__cell mdc-layout-grid--align-right
        mdc-layout-grid__cell--span-6-desktop
        mdc-layout-grid__cell--span-4-tablet
        mdc-layout-grid__cell--span-2-phone">
        <!-- <ion-col col-4> -->
        <button ion-button full (click)="loginWithFacebook()" style="background-color: #1DA1F2 !important">
          <ion-icon name="logo-facebook"></ion-icon>
          &nbsp; Facebook
        </button>
        <!-- </ion-col> -->
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid--align-left
        mdc-layout-grid__cell--span-6-desktop
        mdc-layout-grid__cell--span-4-tablet
        mdc-layout-grid__cell--span-2-phone">
        <!-- <ion-col col-4> -->
        <button ion-button full (click)="loginWithGoogle()" style="background-color: #dd4b39 !important">
          <ion-icon name="logo-googleplus"></ion-icon>
          &nbsp; Google+
        </button>
        <!-- </ion-col> -->
      </div>
      <!-- <ion-col col-2></ion-col>
          </ion-row> -->
      <!-- <ion-row> -->
      <!-- <ion-col col-2></ion-col> -->
      <div class="mdc-layout-grid__cell">
        <!-- <ion-col col-8> -->
        <button ion-button full (click)="resetPassword(account.email)" style="text-align: center"> ¿Olvidaste la contraseña? </button>
        <!-- </ion-col> -->
      </div>
      <!-- <ion-col col-2></ion-col> -->


      <!-- </ion-row> -->

      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</ion-content>