
  page-productos-p-categoria{

.grid{
    padding: 0px !important;
}



.card-md p{
    font-size: 16px !important;
    font-weight: bold !important;
}

ion-row.row{
    text-align: center !important;
}

}