ion-menu {
    .menu-inner {
        
        ion-content {
            @include semi-gb($card-surface-bg);
        }
        ion-list ion-item{
            background: transparentize($color: #464545, $amount: 0.8) !important;
        }

        .menu_ion_card{
            position:relative;
            text-align:center;
            margin:0 !important;
            width: 100% !important;
            
        }

        .card-title{
            position:absolute;
            top:36%;
            font-size: 2.0em;
            width:100%;
            font-weight: bold;
            color:#fff;
        }


        .card-subtitle{
            font-size: 1.0em;
            position:absolute;
            top:60%;
            width: 100%;
            color:#fff;
        }
    }
}